body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#app {
    position: relative;
    width: 100%;
    height: 100%;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: background 1s ease-in-out;
}

#background.day {
    background: url('../img/day_background.png') no-repeat center center fixed;
    background-size: cover;
}

#background.night {
    background: url('../img/night_background.png') no-repeat center center fixed;
    background-size: cover;
}

#character {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 1s ease-in-out;
    opacity: 0.8;
}